body 
{
    background-color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

.fixed-center
{
    position: fixed;
    top: 30vh;
    left: 30vw;
}

.container 
{
    display: flex;
    justify-content:center; 
    align-items: center; 
    height: 100vh; 
}

.rounded-md 
{
    border-radius : 10px;
}

.rounded-lg
{
    border-radius : 30px;
}

.rounded-sm 
{
    border-radius: 5px;
}
.form 
{
    color: rgb(49, 49, 49);
    width: 50%;
    padding: 50px;
    max-width: 90vh;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
}

.form .intitule h2
{
    color: rgb(90, 90, 90)
}

.form input , .form select
{
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(238, 238, 238);
}

.validation-btn
{
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.navbar 
{
    background-color: white;
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* resp */
    width: 15vw;
    padding: 20px;
}

.navs 
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-weight:500;
}

.navlink 
{
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px 15px 15px 10px;
    color: rgb(121, 121, 121);
    text-decoration: none;
}

.navlink:hover 
{
    background-color: rgb(240, 240, 240);
    color: black;
}

i 
{
    margin-left: 5px;
    margin-right: 10px;
}

.content 
{
    margin-left: 18vw;
    width: 80%;
    /* background-color: white; */
    border-radius: 20px;
}

.card 
{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    margin: 10px;
    transition: all 0.5s ease;
}

.card:hover 
{
    transform: scale(1.1);
}

.slot 
{
    width: 100%;
    height: 70%;
    /* position: relative; */
    background-color: rgb(48, 48, 48);
}

.box 
{
    padding: 10px;
}

.box p 
{
    margin: 5px;
}

.flex 
{
    display: flex;
    flex-direction: row;
}

.start
{
    justify-content:flex-start

}

.next-btn 
{
    background-color: rgb(218, 196, 73);
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.black 
{
    background-color: rgb(22, 22, 22);
    color: white;
}

.wrap 
{
    flex-wrap: wrap;
}

.space-between 
{
    justify-content: space-between;
}

.page 
{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color:white;
    border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}
th, td {
    border: none;
    text-align: left;
}

th 
{
    padding: 30px;
}

td {
    padding: 15px;
}

th {
    background-color: #f8f8f8;
}

.animal-card {
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slot {
    width: 100%;
    height: 50%;
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.details 
{
    padding: 10px 30px 10px 30px;
    height: 40%;
}

.footer 
{
    padding: 30px;
}

.animal-name {
    color: rgb(90, 90, 90);
    font-size: 1.5em;
}
.animal-description {
    color: rgb(49, 49, 49);
    font-size: 1em;
}

.overlay 
{
    background-color: rgb(0,0,0,0.5);
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
}

.pop-up
{
    z-index:2000;
    box-shadow:none;
}


.menu 
{
    width: 100%;
    border-radius: 20px;
    height:50px;
    padding:5px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
}

.menu a 
{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

.i-purple 
{
    color:rgb(101, 27, 221);
}

.menu .a-black 
{
    color: black;
}

.table-form input
{
    width: 100%;
    height: 100%;
    border:none;
    background-color: rgb(240,240,240);
    padding: 5px;
    margin: 5px;
}

.footer-btn 
{
    position: fixed;
    bottom: 20px;
    left: 20vw;
    background-color: rgb(218, 149, 0);
    color:white;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    border: none;
}